################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DEPLOY/bin
/SourceCode.zip
/sh.exe.stackdump
/scaffolding.config
/packages
/NTP_MVC_CopyTichHopToNTPMVC.rar
/NTP_MVC2015.rar
/NTP_MVC2015.pubxml
/NTP_MVC1.rar
/NTP_MVC.v12.suo
/NTP_MVC.rar
/NTP_MVC/Storage.dat
/NTP_MVC/scaffolding.config
/NTP_MVC/packages
/NTP_MVC/obj
/NTP_MVC/Models.rar
/NTP_MVC/Index.dat
/NTP_MVC/bin
/NTP_MVC/.vs
/NTP_MVC
/NTP_CMT_6-3-2015.rar
/DEPLOY/bin
/.vs
