

@using (Html.BeginForm("DateRangePicker", "Editors", FormMethod.Post))
{
    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "Picker";
    settings.RequiredMarkDisplayMode = RequiredMarkMode.None;
    settings.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
    settings.ColCount = 4; 
    settings.Items.AddGroupItem(group =>
    {
        group.Caption = "Tìm kiếm bệnh nhân";
        group.GroupBoxDecoration = GroupBoxDecoration.Box;
        group.ColSpan = 4;
        group.ColCount = 4;

        group.Items.Add(item =>
        {
            item.ShowCaption = DefaultBoolean.False;
            item.SetNestedContent(() =>
            {
                ViewContext.Writer.Write("<table><tr><td style=\"padding-right:5px;\">");
                Html.RenderPartial("_ComboBoxTinhPartial");
                ViewContext.Writer.Write("</td><td>");
                Html.RenderPartial("_ComboBoxHuyenPartial");
                ViewContext.Writer.Write("</td></tr></table>");
            });
        }); 
        group.Items.Add(item =>
        {
            item.ShowCaption = DefaultBoolean.False;
            item.SetNestedContent(() =>
            {
             Html.RenderPartial("_CMTPartial");
            });
        });
        group.Items.Add(item =>
        {
            item.ShowCaption = DefaultBoolean.False;
            item.SetNestedContent(() =>
            {
                Html.RenderPartial("_MaBNQLPartial");
            });
        });

        group.Items.Add(item => ViewData["StartDate"], itemSettings => ConfigureDateEditItem(itemSettings));
        group.Items.Add(item => ViewData["EndDate"], itemSettings => ConfigureDateEditItem(itemSettings));
        
    
    });


}).GetHtml()
}
@functions{
    Function<DateEditSettings, MVCxFormLayoutItem> ConfigureDateEditItem = itemSettings =>
    {
        itemSettings.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
        var dateEditSettings = (DateEditSettings)itemSettings.NestedExtensionSettings;
        dateEditSettings.ShowModelErrors = true;
        dateEditSettings.Properties.ClientSideEvents.DateChanged = "UpdateInfo";
        dateEditSettings.Properties.ValidationSettings.Display = Display.Dynamic;
        dateEditSettings.Properties.ValidationSettings.SetFocusOnError = true;
        dateEditSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        dateEditSettings.Properties.ValidationSettings.CausesValidation = true;
        dateEditSettings.Properties.CalendarProperties.Columns = 2;
        return dateEditSettings;
    };
}

@using (Html.BeginForm("ExternalEditFormEdit", "Editing", FormMethod.Post, new { @class = "edit_form" }))
{
    @Html.Hidden("IDBenhNhan")
} 
@Html.Partial("_BenhNhanGridViewPartial");
